In [92]:
import os
import pandas as pd
import numpy as np

df_laptop= pd.read_csv('.\\Cleaned_Laptop_data.csv')

In [93]:
print(df_laptop.columns.values,'\n\n')
df_laptop.info()

['brand' 'model' 'processor_brand' 'processor_name' 'processor_gnrtn'
 'ram_gb' 'ram_type' 'ssd' 'hdd' 'os' 'os_bit' 'graphic_card_gb' 'weight'
 'display_size' 'warranty' 'Touchscreen' 'msoffice' 'latest_price'
 'old_price' 'discount' 'star_rating' 'ratings' 'reviews']


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 896 entries, 0 to 895
Data columns (total 23 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   brand            896 non-null    object
 1   model            896 non-null    object
 2   processor_brand  896 non-null    object
 3   processor_name   896 non-null    object
 4   processor_gnrtn  896 non-null    object
 5   ram_gb           896 non-null    object
 6   ram_type         896 non-null    object
 7   ssd              896 non-null    object
 8   hdd              896 non-null    object
 9   os               896 non-null    object
 10  os_bit           896 non-null    object
 11  graphic_card_gb  896 non-null    int64
 12  weight           896 non-null    object
 13  display_size     896 non-null    object
 14  warranty         896 non-null    int64
 15  Touchscreen      896 non-null    object
 16  msoffice         896 non-null    object
 17  latest_price     896 non-null    int64
 18  old_price        896 non-null    int64
 19  discount         896 non-null    int64
 20  star_rating      896 non-null    float64
 21  ratings          896 non-null    int64
 22  reviews          896 non-null    int64
dtypes: float64(1), int64(7), object(15)
memory usage: 161.1+ KB

In [94]:
df_laptop.head()

,brand,model,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,...,display_size,warranty,Touchscreen,msoffice,latest_price,old_price,discount,star_rating,ratings,reviews
0,Lenovo,A6-9225,AMD,A6-9225 Processor,10th,4 GB GB,DDR4,0 GB,1024 GB,Windows,...,Missing,0,No,No,24990,32790,23,3.7,63,12
1,Lenovo,Ideapad,AMD,APU Dual,10th,4 GB GB,DDR4,0 GB,512 GB,Windows,...,Missing,0,No,No,19590,21325,8,3.6,1894,256
2,Avita,PURA,AMD,APU Dual,10th,4 GB GB,DDR4,128 GB,0 GB,Windows,...,Missing,0,No,No,19990,27990,28,3.7,1153,159
3,Avita,PURA,AMD,APU Dual,10th,4 GB GB,DDR4,128 GB,0 GB,Windows,...,Missing,0,No,No,21490,27990,23,3.7,1153,159
4,Avita,PURA,AMD,APU Dual,10th,4 GB GB,DDR4,256 GB,0 GB,Windows,...,Missing,0,No,No,24990,33490,25,3.7,1657,234

In [95]:
df_laptop.describe()

,graphic_card_gb,warranty,latest_price,old_price,discount,star_rating,ratings,reviews
count,896.000000,896.000000,896.000000,896.000000,896.000000,896.000000,896.000000,896.000000
mean,1.198661,0.691964,76309.860491,88134.154018,18.527902,2.980469,367.391741,46.152902
std,2.057454,0.606282,46613.354368,55719.645554,10.508486,1.965254,1106.309355,136.079586
min,0.000000,0.000000,13990.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,45490.000000,54940.500000,11.000000,0.000000,0.000000,0.000000
50%,0.000000,1.000000,63494.000000,78052.500000,19.000000,4.100000,19.000000,3.000000
75%,2.000000,1.000000,89090.000000,111019.500000,26.000000,4.400000,179.500000,23.250000
max,8.000000,3.000000,441990.000000,377798.000000,57.000000,5.000000,15279.000000,1947.000000

In [96]:

# Checking Missing values

missingSet = set()

for i in df_laptop.columns :
    df_laptop[i] = np.where(df_laptop[i]=='Missing', None, df_laptop[i])

df_laptop.isnull().sum()

# There is many missing values in 
    # model , 95
    # processor_gnrtn : processor generation, 239 
    # display_size, 332
    
        # => so, I'm gonna exclude these ,depending on needs.
        
# df_laptop.drop(['display_size'], axis=1,inplace=True)

brand                0
model               95
processor_brand      0
processor_name       0
processor_gnrtn    239
ram_gb               0
ram_type             0
ssd                  0
hdd                  0
os                   0
os_bit               0
graphic_card_gb      0
weight               0
display_size       332
warranty             0
Touchscreen          0
msoffice             0
latest_price         0
old_price            0
discount             0
star_rating          0
ratings              0
reviews              0
dtype: int64

## What is the most highly star-rated laptop brand?

In [97]:
print('Total Mean of Star Rating :', df_laptop['star_rating'].mean() , '\n')

print('The highest star-rated brand : ',df_laptop.groupby('brand')['star_rating'].mean().sort_values(ascending=False).max(),'\n')
print('The lowest star-rated brand : ',df_laptop.groupby('brand')['star_rating'].mean().sort_values(ascending=False).min(),'\n')

print(df_laptop.groupby('brand')['star_rating'].mean().sort_values(ascending=False))

Total Mean of Star Rating : 2.980468750000002

The highest star-rated brand :  4.7178571428571425

The lowest star-rated brand :  0.0

brand
APPLE        4.717857
ALIENWARE    4.400000
realme       4.400000
Nokia        4.300000
RedmiBook    4.266667
Infinix      4.250000
Mi           4.250000
MICROSOFT    4.233333
Vaio         3.960000
iball        3.800000
Smartron     3.633333
HP           3.212676
MSI          3.138462
acer         3.055172
lenovo       2.933333
Lenovo       2.914865
DELL         2.863636
ASUS         2.681496
LG           1.820000
Avita        1.805556
SAMSUNG      0.000000
Name: star_rating, dtype: float64

## 보류 : What is the most highly rated laptop brand?

In [98]:
print(df_laptop.groupby('brand')['ratings'].mean().sort_values(ascending=False))

brand
realme       4911.000000
RedmiBook    1278.000000
iball        1218.000000
APPLE        1207.535714
Infinix       720.500000
HP            534.478873
Mi            472.000000
acer          466.672414
Avita         388.777778
ASUS          367.661417
Vaio          352.600000
Nokia         311.750000
MSI           299.019231
Lenovo        171.871622
DELL          122.753247
lenovo         94.333333
MICROSOFT      38.000000
Smartron       27.666667
LG             16.600000
ALIENWARE      10.000000
SAMSUNG         0.000000
Name: ratings, dtype: float64

## Why SAMSUNG got an 0 average point in the feature 'Star Rating'?

In [99]:
df_laptop_SAMSUNG = df_laptop[df_laptop['brand'] == 'SAMSUNG']
ss = df_laptop[df_laptop['brand'].str.contains('SAMSUNG')].index
df_laptop.drop(ss, inplace=True)

# Because There is just one SAMSUNG observartion, which didn't get any reviews.
    # => so I excluded the SAMSUNG(Galaxy) record 
    # => And also, I'm gonna do additional searches for finding same cases.

In [104]:
df_laptop['brand'].value_counts()
# df_laptop[df_laptop['star_rating'] == 0.0].

brand   model     processor_brand  processor_name  processor_gnrtn  ram_gb    ram_type  ssd      hdd   os       os_bit  graphic_card_gb  weight      display_size  warranty  Touchscreen  msoffice  latest_price  old_price  discount  star_rating  ratings  reviews
Avita   Liber     Intel            Core i7         8th              8 GB GB   DDR4      256 GB   0 GB  Windows  64-bit  0                ThinNlight  14            0         No           No        73990         79990      7         0.0          0        0          6
                                   Core i5         7th              8 GB GB   DDR4      512 GB   0 GB  Windows  64-bit  0                ThinNlight  13.3          0         No           No        65556         79990      18        0.0          0        0          3
ASUS    VivoBook  Intel            Core i5         11th             16 GB GB  DDR4      512 GB   0 GB  Windows  64-bit  0                Casual      14            1         No           No        59990         80990      25        0.0          0        0          2
        ASUS      Intel            Core i5         11th             8 GB GB   DDR4      512 GB   0 GB  Windows  64-bit  6                Casual      16            1         No           No        88990         129990     31        0.0          0        0          1
Lenovo  IdeaPad   Intel            Core i3         10th             4 GB GB   DDR4      256 GB   0 GB  Windows  64-bit  0                ThinNlight  14            0         No           No        36490         53790      32        0.0          0        0          1
                                                                                                                                                                                                                                                                       ..
ASUS    ZenBook   Intel            Core i7         11th             16 GB GB  LPDDR4X   512 GB   0 GB  Windows  64-bit  0                ThinNlight  16            0         No           No        94990         122990     22        0.0          0        0          1
                                                                                                                                         Casual      13.3          1         No           Yes       94990         122990     22        0.0          0        0          1
                                                                                        1024 GB  0 GB  Windows  64-bit  0                ThinNlight  13.3          0         No           No        99990         128990     22        0.0          0        0          1
                                                                                                                                         Casual      14            1         Yes          No        134990        164990     18        0.0          0        0          1
acer    Predator  Intel            Core i9         11th             32 GB GB  DDR4      1024 GB  0 GB  Windows  64-bit  8                Casual      15.6          1         No           No        169990        199999     15        0.0          0        0          1
Length: 77, dtype: int64